<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    {% import 'feachers.html' as feachers %}
    {{ feachers.headers() }}
</head>
<body>

{% if db.__len__() == 0 %}
Пока что данных нет.
{% else %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Пример</th>
        <th scope="col">Введенный ответ</th>
        <th scope="col">Правильный ответ</th>
    </tr>
    </thead>
    {% for day, iterable in db|groupby('day') %}
    <tbody>
        <tr class="clickable table-info"
            data-toggle="collapse"
            data-target="#g-{{ day }}"
            aria-expanded="false"
            aria-controls="g-{{ day }}">
            <th colspan="2" class="bold">{{ day }}</th>
            <td colspan="2">{{ stats[day]['good'] }} верно из
                {{ stats[day]['total'] }}</td>
        </tr>
    </tbody>
    <tbody id="g-{{ day }}" class="collapse">
        {% for i in iterable %}
                <tr class="table-{{ i['correct'] }}">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ i['exc'] }}</td>
                    <td>{{ i['wrote'] }}</td>
                    <td>{{ i['cor'] }}</td>
                </tr>
        {% endfor %}
    </tbody>
    {% endfor %}
</table>
{% endif %}

</body>
</html>